<div class="container">
  <button (click)="handleLoadPins()" class="button">Load pins</button>
  <button (click)="handleCenterMapByPins()" class="button">Zoom to a center of the group of pins</button>
  <button (click)="handleDrawClusters()" class="button">Show pins as clusters</button>
  <label class="checkbox-container">Enable zooming to pin
    <input (click)="handleEnableZoomingToPin()" type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="checkbox-container">Enable changing pin on user-select
    <input (change)="handleEnableChangingPin()" type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="checkbox-container">Enable popups with pin's information
    <input (click)="handleEnablePopups()" type="checkbox">
    <span class="checkmark"></span>
  </label>
</div>
