.pin {
  background-image: url("../src/images/pin-icon.png");
  background-size: cover;
  height: 40px;
  width: 30px;
  cursor: pointer;
}

/*.pin.favorite {*/
/*  background-image: url("../src/images/heart-icon.png");*/
/*  height: 30px;*/
/*  width: 30px;*/
/*}*/

.pin.selected {
  background-image: url("../src/images/pin-selected-icon.png");
  height: 30px;
  width: 30px;
}

/*.pin.favorite.selected {*/
/*  background-image: url("../src/images/heart-icon-selected.png");*/
/*  height: 30px;*/
/*  width: 30px;*/
/*}*/

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 8px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content > button {
  outline: none;
}
